<md-toolbar color="primary">
    <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
    <span>That's a Paddlin!</span>
</md-toolbar>

<md-sidenav-container class="main-container">
    <md-sidenav #sidenav class="main-container__sidenav">
        <md-nav-list>
            <a md-list-item href="..."> Link 1 </a>
            <a md-list-item href="..."> Link 2 </a>
            <a md-list-item href="..."> Link 3 </a>
        </md-nav-list>
    </md-sidenav>

    <div class="main-content">
    </div>

</md-sidenav-container>
