<div *ngIf="!googleAuthService.isSignedIn(); else signinsuccess">
    <h2 md-dialog-title>It's Time for a Paddlin!</h2>
    <md-dialog-content>
        <p>Sign in to get paddlin.</p>
    </md-dialog-content>
    <md-dialog-actions>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </md-dialog-actions>
</div>

<ng-template #signinsuccess>
    <h2 md-dialog-title>Welcome {{ googleAuthService.getUserFirstname() }}</h2>
    <md-dialog-content>
        <p>Thanks for signing in to That's a Padddlin</p>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button>Paddle</button>
    </md-dialog-actions>
</ng-template>
